.status {
	font-weight: bold;
	font-size: 1.25em;
}

.unavailable {
	color: #f33;
}
html {
	width: 100%;
	background-color: #999;
	
}

h2 {
	padding: 1em 0 0 1em;
}
.butn {
	padding: 1em;
}

.bigform {
	width: 500px;
	margin: auto;
	background-color: #FFC;
}

.available {
	color: #393;
}

.pass-reqs {
	list-style-type: none;
}
.pass-reqs li {
	display: block;
}

.tmp {
	padding-left: 1em;
	min-width: 11em;
	display: inline-block;
}

.pass-reqs li:before {
	content: "✖";
	font-weight: bold;
	color: #f33;
	font-size: 1.25em;
}

.code {
	padding-top: 1em;
}

.pass-reqs li.met:before {
	content: "✔";
	color: #393;
}
.pass-reqs li:after {
	content: "✖";
	font-weight: bold;
	color: #f33;
	font-size: 1.25em;
}

.pass-reqs li.met2:after {
	content: "✔";
	color: #393;
}

























